body {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 194, 194);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
}